####################################
# Node / NestJS
####################################
node_modules/
**/node_modules/

dist/
**/dist/

coverage/
*.tsbuildinfo

####################################
# Environment variables
####################################
.env
.env.*
!.env.example

####################################
# Logs
####################################
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db
.vscode/
.idea/

####################################
# Terraform
####################################
.terraform/
*.tfstate
*.tfstate.*
crash.log

####################################
# Docker
####################################
docker-data/
