# ======================================
# Application
# ======================================
NODE_ENV=development
PORT=3008
CORS_ORIGINS=http://localhost:3000
SWAGGER_ENABLED=true

# ======================================
# Integrations
# ======================================
AUTH_SERVICE_URL=http://localhost:3001
AUTH_SERVICE_INTERNAL_KEY=change_me_internal_key
