# ======================================
# Application
# ======================================
NODE_ENV=development
PORT=3008
CORS_ORIGINS=http://localhost:3000
SWAGGER_ENABLED=true

# ======================================
# MongoDB
# ======================================
MONGO_URL=mongodb://localhost:27017/search

# ======================================
# Kafka
# ======================================
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=search-service
KAFKA_ENABLED=true
