# ======================================
# Application
# ======================================
NODE_ENV=development
PORT=3006
CORS_ORIGINS=http://localhost:3000
SWAGGER_ENABLED=true

# ======================================
# RabbitMQ
# ======================================
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# ======================================
# MQTT
# ======================================
MQTT_URL=mqtt://localhost:1883
