# ======================================
# Application
# ======================================
NODE_ENV=development
PORT=3000
CORS_ORIGINS=http://localhost:3000
SWAGGER_ENABLED=true

# ======================================
# Upstream services
# ======================================
AUTH_SERVICE_URL=http://localhost:3001
ENROLLMENT_SERVICE_URL=http://localhost:3007
COURSE_SERVICE_URL=http://localhost:3004
USER_SERVICE_URL=http://localhost:3008
NOTIFICATION_SERVICE_URL=http://localhost:3005
AUTOMATION_SERVICE_URL=http://localhost:3006
SCHEDULE_SERVICE_URL=http://localhost:3009
TUTORING_SERVICE_URL=http://localhost:3010
SEARCH_SERVICE_URL=http://localhost:3011
MATERIAL_SERVICE_URL=http://localhost:3012

